<!DOCTYPE html>
<html>
  <head>
    <title>Read File</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Process Mining Tool</h1>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
      <label for="file">
        Select your XES file:
        <input type="file" name="file" />
      </label>
      <label for="algorithm">
        Mining algorithm:
        <select id="algorithm" name="algorithm">
          <option value="">--Please choose an option--</option>
          <option value="Alpha Algorithm">Alpha Algorithm</option>
          <option value="Heuristic Miner">Heuristic Miner</option>
        </select>
      </label>
      <label for="dependency">
        Dependency threshold:
        <input type="text" placeholder=" 0.9" name="dependency" />
      </label>
      <label for="and">
        AND-threshold:
        <input type="text" placeholder=" 0.1" name="and" />
      </label>
      <label for="observation">
        Positive observations threshold:
        <input type="text" placeholder=" 3" name="observation" />
      </label>
      <label for="relative">
        Relative to best threshold:
        <input type="text" placeholder=" 0.05" name="relative" />
      </label>
      <div class="submit">
        <input type="submit" value="Start Mining" />
      </div>
    </form>
  </body>
</html>
